<notifier-container></notifier-container>

<div class="container-fluid pt-2">
  <div class="page-header">
    <h2>Order-Judgement/Court Proceeding
      <div class="top-actions" style="display: flex;float: right;">
        <button class="float-end" mat-raised-button color="primary" (click)="openModal(0)">Add</button>
      </div>
    </h2>
    <hr>
  </div>
  <div class="page-body">
    <div style="display: block;">
      <div class="card mt-3 p-3">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group" >
              <input type="text" class="form-control" [(ngModel)]="searchText" (keyup.enter)="getData(1)" placeholder="Case No">
            </div>
          </div>
          <div class="col-sm-3">
            <select class="form-control" [(ngModel)]="searchStatusType" (change)="getData(1)">
              <option value="">Select Status Type</option>
              <option value="Order/judgment">Order/judgment</option>
              <option value="Hearing Stage (Court Proceeding)">Hearing Stage (Court Proceeding)</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select class="form-control" [(ngModel)]="searchComplaintTo" (change)="getData(1)">
              <option value="">Select Complaint To</option>
              <option value="Authority">Authority</option>
              <option value="Adjudicating Officer">Adjudicating Officer</option>
            </select>
          </div>
        </div>
        <div class="table-responsive" style="height: 70vh;overflow: auto;">
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th style="min-width: 150px;">Next Hearing Date</th>
              <th>ComplaintID</th>
              <th>Case No</th>
              <th>Project Name</th>
              <th>Promoter Name</th>
              <th>Complainant Name</th>
              <th>Respondent Name</th>
              <th>Status Type</th>
              <th>Date of Proceeding</th>
              <th>In Court Of</th>
              <th>Document</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obj of listData; let i = index;">
              <td>{{offset + i + 1}}</td>
              <td>{{obj.NHDate}}</td>
              <td>{{obj.ComplaintID}}</td>
              <td>{{obj.Case_No}}</td>
              <td>{{obj.Project_Name}}</td>
              <td>{{obj.Promoter_Name}}</td>
              <td>{{obj.Name_Complainant}}</td>
              <td>{{obj.Name_Respondent}}</td>
              <td>{{obj.Status_Type}}</td>
              <td>{{obj.Date_Proceeding}}</td>
              <td>{{obj.In_Court_Of === '' ? 'N/A' : obj.In_Court_Of}}</td>
              <td class="text-center"> <a (click)="openTab(obj.Doc_Path)">
                <i style="font-size: 20px;color: #0e3871;" class="fa fa-eye" aria-hidden="true"></i>
              </a></td>

              <td>
                <button style="color: blue;" (click)="edit(obj, i)">

                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="m-lg-1" style="color: red;" (click)="openDeleteModal(deleteModal, obj.ID, obj.statusId, i)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="listData.length === 0">
              <td colspan="7" class="text-center">No data found.</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button [disabled]="!isNextStep" mat-raised-button color="primary" style="float: right;" (click)="next()">Next</button>
          <button [disabled]="!isPrevStep" mat-raised-button color="primary" style="float: right;margin-right: 10px;" (click)="previous()">Previous</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class=" modal-content ">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel">{{modalHeader}} Order/Judgement/Court Proceeding</h2>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="ComplaintID">Complaint ID<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="ComplaintID" [(ngModel)]="ComplaintID">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="ComplaintTO">Complaint To<span style="color: red;">*</span></label>
            <select class="form-control" id="ComplaintTO" [(ngModel)]="ComplaintTO">
              <option value="">Select</option>
              <option value="Authority">Authority</option>
              <option value="Adjudicating Officer">Adjudicating Officer</option>
<!--              <option value="Conciliation Forum">Conciliation Forum</option>-->
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Status_Type">Status Type<span style="color: red;">*</span></label>
            <select class="form-control" id="Status_Type" [(ngModel)]="Status_Type">
              <option value="">Select</option>
              <option value="Order/judgment">Order/judgment</option>
              <option value="Hearing Stage (Court Proceeding)">Court Proceeding</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="In_Court_Of">In Court Of<span style="color: red;">*</span></label>
            <select class="form-control" id="In_Court_Of" [(ngModel)]="In_Court_Of">
              <option value="">Select</option>
              <option *ngFor="let court of inCourtArr;" [value]="court">{{court}}</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Case_No">Case No.<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="Case_No" [(ngModel)]="Case_No">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Doc_Path">{{Status_Type !== 'Order/judgment' ? 'Hearing' : 'Order '}} Document<span style="color: red;">*</span></label>
            <input type="file" class="form-control-file" id="Doc_Path" accept="application/pdf" (change)="uploadFile($event, 'docpath')">
            <div>
              <a (click)="openTab(Doc_Path)">{{Doc_Path}}</a>
            </div>
          </div>
        </div>
        <div class="col-3" *ngIf="Status_Type !== 'Order/judgment'">
          <div class="form-group">
            <label for="NHDate">Next Hearing Date<span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="NHDate" [(ngModel)]="NHDate">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Date_Proceeding">Date of Proceeding<span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="Date_Proceeding" [(ngModel)]="Date_Proceeding">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="IsRegisteredRERA">Is Registered with RERA</label>
            <select class="form-control" id="IsRegisteredRERA" [(ngModel)]="IsRegisteredRERA">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-3">
          <div class="form-group">
            <label for="Project_Name">Project Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="Project_Name" [(ngModel)]="Project_Name">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Promoter_Name">Promoter Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="Promoter_Name" [(ngModel)]="Promoter_Name">
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-3">
          <div class="form-group">
            <label for="Name_Complainant">Complainant Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="Name_Complainant" [(ngModel)]="Name_Complainant">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Mobile_Number">Mobile Number</label>
            <input type="text" class="form-control" id="Mobile_Number" [(ngModel)]="Mobile_Number">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Email_Id">Email ID</label>
            <input type="email" class="form-control" id="Email_Id" [(ngModel)]="Email_Id">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Official_Address">Official Address</label>
            <input type="text" class="form-control" id="Official_Address" [(ngModel)]="Official_Address">
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-3">
          <div class="form-group">
            <label for="Name_Respondent">Respondent Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="Name_Respondent" [(ngModel)]="Name_Respondent">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Respondent_Mobile_Number">Respondent Mobile Number</label>
            <input type="text" class="form-control" id="Respondent_Mobile_Number" [(ngModel)]="Respondent_Mobile_Number">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Respondent_EmailID">Respondent Email ID</label>
            <input type="email" class="form-control" id="Respondent_EmailID" [(ngModel)]="Respondent_EmailID">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Respondent_Official_Address">Respondent Official Address</label>
            <input type="text" class="form-control" id="Respondent_Official_Address" [(ngModel)]="Respondent_Official_Address">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="Subject_Complaint">Subject of Complaint<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="Subject_Complaint" [(ngModel)]="Subject_Complaint">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Facts_Complaint">Facts of Complaint</label>
            <textarea class="form-control" id="Facts_Complaint" rows="2" [(ngModel)]="Facts_Complaint"></textarea>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Relief_Sought_RERA">Relief Sought from RERA</label>
            <textarea class="form-control" id="Relief_Sought_RERA" rows="2" [(ngModel)]="Relief_Sought_RERA"></textarea>
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-3">
          <div class="form-group">
            <label for="Name_of_Document">Name of Document</label>
            <input type="text" class="form-control" id="Name_of_Document" [(ngModel)]="Name_of_Document">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Document_Path">Upload Document</label>
            <input type="file" class="form-control-file" id="Document_Path" accept="application/pdf" (change)="uploadFile($event, 'document')">
            <div>
              <a (click)="openTab(Document_Path)">{{Document_Path}}</a>
            </div>
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-3">
          <div class="form-group">
            <label for="Payment_Mode">Payment Mode</label>
            <input type="text" class="form-control" id="Payment_Mode" [(ngModel)]="Payment_Mode">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Bank_Name">Bank Name</label>
            <input type="text" class="form-control" id="Bank_Name" [(ngModel)]="Bank_Name">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Amount">Amount</label>
            <input type="number" class="form-control" id="Amount" [(ngModel)]="Amount">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="Branch">Branch</label>
            <input type="text" class="form-control" id="Branch" [(ngModel)]="Branch">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="DD_Cheque_No">DD/Cheque No.</label>
            <input type="text" class="form-control" id="DD_Cheque_No" [(ngModel)]="DD_Cheque_No">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="DD_Cheque_Path">DD/Cheque Path</label>
            <input type="file" class="form-control-file" id="DD_Cheque_Path" accept="application/pdf" (change)="uploadFile($event, 'check')">
            <div>
              <a (click)="openTab(DD_Cheque_Path)">{{DD_Cheque_Path}}</a>
            </div>
          </div>
        </div>
        <div class="col-12 mt-2">
          <b>Error:</b> &nbsp;&nbsp; <span style="color: red;">{{errorMessage}}</span>
        </div>
        <div class="col-12 text-right">
          <button [disabled]="isButtonDisabled" class="btn btn-primary" (click)="submitData(modalHeader)"> {{modalHeader === 'Add' ? 'Submit' : 'Update'}}</button>
        </div>

      </div>

    </div>
  </div>
</ng-template>


<ng-template #deleteModal>
  <div class="modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>

      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteData()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
