<notifier-container></notifier-container>
<section class="login-block">
    <img src="assets/images/Web-login-img.png"/>
    <div class="container">
        <div class="row ">
            <div class="col login-sec">
                <div class="log-hdr">
                    <strong>{{'Forgot Password'}}</strong>
                    <img src="assets/images/login-logo.png"/>
                </div>
                <div class="login-form">
                    <div *ngIf="!isVerify">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="otp" name="panNumber" class="form-control"
                                   placeholder="{{'Enter OTP'}}">
                            <span class="span_error">{{otpErr}}</span>
                        </div>
                        <div class="form-check">
                            <button type="submit" class="btn btn-success log_bt" (click)="verifyOTP()">{{'Verify'}}</button>
                        </div>
                    </div>
                    <div *ngIf="isVerify">
                        <div class="form-group">
                            <div class="input-group">
                                <input [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="userPassword"
                                       class="form-control" placeholder="{{'Password'}}">
                                <div class="input-group-append" style="cursor: pointer;">
                                <span class="input-group-text" (click)="passfun()">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </span>
                                </div>
                            </div>
                            <span class="span_error">{{passwordErr}}</span>
                        </div>
                        <div class="form-group">

                            <div class="input-group">
                                <input [(ngModel)]="confPassword" name="userPassword" type="password"
                                       class="form-control" placeholder="{{'Confirm Password'}}">
                            </div>
                            <span class="span_error">{{confPasswordErr}}</span>
                        </div>
                        <div class="form-check">
                            <button [disabled]="disableResetBtn" type="submit" class="btn btn-success log_bt" (click)="onSubmit()">{{'Submit'}}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
