<div class="tabletab mar-top-15">
    <div class="row mb-2">
      <div class="col-3">
        <input class="form-control" type="text" placeholder="Enter Project Name" [(ngModel)]="searchText">
      </div>
      <div class="col-3">
        <input class="form-control" type="text" placeholder="Enter Registration Number" [(ngModel)]="regNo">
      </div>
      <div class="col-3">
        <button style="height: calc(1.5em + 0.75rem + 2px);" class="btn btn-info" (click)="getAllSubmittedQuarterList(1)">Filter</button>
      </div>
    </div>
    <div class="table-responsive">
        <table class="table  table-hover">
            <tr>
                <th>Project Registration No.</th>
                <th>Project Name</th>
                <th>Promoter Name</th>
                <th>Financial Year</th>
                <th>Quarter Period</th>
                <th *ngIf="issubmited==1">Submitted Date</th>
                <th *ngIf="issubmited==1">Delay in days</th>
                <th *ngIf="issubmited==1">Action</th>
            </tr>
            <tr
                *ngFor="let obj of listData | paginate: { id: pageId, itemsPerPage: limit, currentPage: page, totalItems: totalCount }">
                <td>{{obj.projectRegNo}}</td>
                <td>{{obj.projectName}}</td>
                <td>{{obj.promoterName}}</td>
                <td>{{obj.financialYear}}</td>
                <td>{{obj.quoterName}}</td>
                <td *ngIf="issubmited==1">{{obj.submitteddate}}</td>
                <td *ngIf="issubmited==1">{{obj.delay == 0 ? 'No' : obj.delay}}</td>
                <td *ngIf="issubmited==1">
                    <a (click)="goToProjectExecutionDtl(obj)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </table>
        <pagination-controls class="pagination" [id]="pageId" (pageChange)="pageChange($event)"></pagination-controls>
    </div>
</div>
