<notifier-container></notifier-container>
<div class="container-fluid pt-2">
  <div class="page-header">
    <h2>Upload Certificate</h2>
    <hr>
  </div>
  <div class="page-body">
    <div style="display: block;">
      <div class="card mt-3 p-3">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Search Project<span style="color: red;">*</span></label>
              <input type="text" class="form-control radius-0 font-13" placeholder="Enter project name"
                [(ngModel)]="searchText" matInput [matAutocomplete]="auto" (keyup)="searchProject()">
              <span class="inputError" id="usrerr"></span>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProjectSelect($event)">
                <mat-option *ngIf="isLoading" class="is-loading">
                  <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let val of searchProjectList" [value]="val.id">
                    {{ val.projectName }} - {{val.projectuid}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-8"></div>
          
          <div class="col-4">
            <div class="form-group">
              <label>Status Type</label>
              <select [(ngModel)]="isExecution" class="form-control">
                <option value="0">Project Approval</option>
                <option value="1">Project Extension</option>
                <option value="2">Project Rejection</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label *ngIf="(isExecution === '2')">Rejection Date</label>
              <label *ngIf="!(isExecution === '2')">Validity Start Date</label>
              <input type="date" class="form-control" [(ngModel)]="validityStartDate" placeholder="Validity Start Date">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" [hidden] = "(isExecution === '2')">
              <label>Validity End Date</label>
              <input type="date" class="form-control" [(ngModel)]="validityEndDate" placeholder="Validity End Date">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label *ngIf="(isExecution === '2')">Enter Rejection Number </label>
              <label *ngIf="!(isExecution === '2')">Enter Registration Number </label>
              <input type="text" class="form-control" [(ngModel)]="registrationNo" [placeholder]="(isExecution === '2') ? 'Rejection No' : 'Registration No'">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Upload Certificate</label>
              <input type="file" class="form-control" id="certfile" (change)="uploadCertificate($event)">
              <p>
                <a (click)="viewCertificate(certificate)">{{certificate}}</a>
              </p>
            </div>
          </div>
          <div class="col-12 text-right">
            <button class="btn btn-primary" (click)="openSubmitModal(submitAlert)"
              [disabled]="isSubmitBtnDisable">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="card p-3">
        <div>
          <div class="row">
            <div class="col-3">
              <input type="text" class="form-control" [(ngModel)]="projectListSearch">
            </div>
            <div class="col-3">
              <button class="btn btn-info" (click)="fetchProjectsList(1)">Filter</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Application No</th>
              <th>Registration No</th>
              <th>Project Name</th>
              <th>Status</th>
            </tr>
            <tr *ngFor="let obj of projectList;">
              <td>{{obj.projectuid}}</td>
              <td>{{obj.registrationno ? obj.registrationno : 'NA'}}</td>
              <td>{{obj.projectName}}</td>
              <td>
                <span *ngIf="obj.isapproved == 3 || obj.isapproved == 5" class="badge badge-success">Approved</span>
                <span *ngIf="obj.isapproved == 4" class="badge badge-danger">Rejected</span>
                <span *ngIf="obj.isapproved != 3 && obj.isapproved != 5 && obj.isapproved != 4" class="badge badge-primary">Submitted</span>
              </td>
            </tr>
          </table>
          <div>
            <button [disabled]="!isNextStep" mat-raised-button color="primary" style="float: right;" (click)="next()">
              Next
            </button>
            <button [disabled]="!isPrevStep" mat-raised-button color="primary" style="float: right;margin-right: 10px;"
              (click)="previous()">Previous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #submitAlert>
  <div class="modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
      </div>
      <div class="modal-body">
        <p>Be sure that all information are correct. Once submit you cannot modify the information.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</ng-template>